
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/KhuyenMaiDetails.css" rel="stylesheet" />
   
</head>
<body>
    <div class="wrapdetail_art row container-fluid" style="position: relative;">
        <article class="article col-8">

            <div class="titlebigKMDMX">
                <h1>Thanh toán qua thẻ tín dụng OCB giảm 500K cho sản phẩm từ 10 triệu tại Điện máy XANH</h1>
                <span>Đăng lúc 02h29, 06/06/2024</span>
                <span class="firstico">51  lượt xem</span>
            </div>



            <div class="boldh2ofcontentnews">
                <h2>Ngân hàng TMCP Phương Đông (OCB) mang đến chương trình ưu đãi cực hấp dẫn dành cho các tín đồ chi tiêu online tại Điện máy XANH: Giảm ngay 500K cho sản phẩm từ 10 triệu. Giao dịch thảnh thơi, ưu đãi muôn nơi. Số lượng có hạn, nhanh tay đặt mua ngay kẻo lỡ!</h2>

                <p><img alt="Thanh toán qua thẻ tín dụng OCB giảm 500K cho sản phẩm từ 10 triệu tại Điện máy XANH" data-original="https://cdn.tgdd.vn/Files/2023/05/30/1532186/thanh-toan-qua-the-tin-dung-ocb-giam-500k-cho-san-300523-155622.jpg" height="428" src="https://cdn.tgdd.vn/Files/2023/05/30/1532186/thanh-toan-qua-the-tin-dung-ocb-giam-500k-cho-san-300523-155622.jpg" title="Thanh toán qua thẻ tín dụng OCB giảm 500K cho sản phẩm từ 10 triệu tại Điện máy XANH" width="818" style="display: inline; opacity: 1;"></p>

                <h3>1. Thời gian áp dụng: Từ ngày 06/06 - 14/01/2024</h3>

                <p>- Có thể kết thúc sớm hơn dự kiến nếu hết suất.</p>

                <h3>2. Thông tin chương trình khuyến mãi</h3>

                <p>- Áp dụng cho tất cả sản phẩm có GIÁ THANH TOÁN CUỐI CÙNG <strong>từ 10.000.000 đồng trở lên</strong> sẽ được giảm 500.000 đồng.</p>

                <p>- Số suất khuyến mãi:<strong> 597 suất/tổng chương trình</strong> (Chỉ tính giao dịch thanh toán thành công không hoàn, hủy).</p>

                <p>- Mỗi thẻ chỉ được khuyến mãi <strong>1 lần/ngày</strong> (ví dụ: Khách hàng thanh toán 8h sáng hôm nay thì tới 8h01 sáng hôm sau khách hàng mới thanh toán lại được)</p>

                <h3>3. Điều kiện chung của chương trình</h3>

                <p>- Những sản phẩm có hiển thị thông tin khuyến mãi OCB thì mới được áp dụng khuyến mãi.</p>

                <p>- Khách hàng phải dùng thẻ tín dụng OCB phát hành tại Việt Nam (đầu BIN: 530572, 542172, 520980, 356505) để thanh toán online tại website: <a href="https://www.dienmayxanh.com/" rel="noopener" target="_blank" title="dienmayxanh.com">dienmayxanh.com</a> hoặc <a href="https://www.thegioididong.com/" rel="noopener" target="_blank" title="thegioididong.com">thegioididong.com</a> hoặc <a href="https://www.topzone.vn/" rel="noopener" target="_blank" title="topzone.vn">topzone.vn</a>.</p>

                <p>- Không áp dụng chung với chương trình trả góp qua thẻ OCB.</p>

                <p>- Không áp dụng kèm các khuyến mãi qua ngân hàng hoặc cổng thanh toán khác, không áp dụng chung coupon, phiếu giảm giá.</p>

                <h3>4. Hướng dẫn thanh toán</h3>

                <p><strong>Bước 1: </strong>Tìm sản phẩm phù hợp với nhu cầu của bạn áp dụng trong chương trình.</p>

                <p><strong>Bước 2: </strong>Click vào sản phẩm, Chọn <strong>Ưu đãi thanh toán qua OCB</strong></p>

                <p><img alt="Click vào sản phẩm, Chọn Ưu đãi thanh toán qua OCB" data-original="https://cdn.tgdd.vn/Files/2023/05/30/1532186/thanh-toan-qua-the-tin-dung-ocb-giam-500k-cho-san-050623-141350.jpg" src="https://cdn.tgdd.vn/Files/2023/05/30/1532186/thanh-toan-qua-the-tin-dung-ocb-giam-500k-cho-san-050623-141350.jpg" title="Click vào sản phẩm, Chọn Ưu đãi thanh toán qua OCB" style="display: inline; opacity: 1;"></p>

                <p><strong>Bước 3:</strong> Nhập thông tin và xác nhận <strong>Thanh toán qua OCB.</strong></p>

                <p><img alt="Nhập thông tin và xác nhận Thanh toán qua OCB." data-original="https://cdn.tgdd.vn/Files/2023/05/30/1532186/thanh-toan-qua-the-tin-dung-ocb-giam-500k-cho-san-050623-141448.jpg" src="https://cdn.tgdd.vn/Files/2023/05/30/1532186/thanh-toan-qua-the-tin-dung-ocb-giam-500k-cho-san-050623-141448.jpg" title="Nhập thông tin và xác nhận Thanh toán qua OCB." style="display: inline; opacity: 1;"></p>

                <p></p><div class="infobox">
                    <strong>Xem thêm:</strong>

                    <ul>
                        <li><a href="https://www.dienmayxanh.com/khuyen-mai/gia-re-qua-giam-soc-den-50-mua-cang-nhieu-giam-1532057" rel="noopener" target="_blank" title="Giá RẺ Quá - Giảm sốc đến 50%, mua càng nhiều giảm sâu đến 10%. Chốt đơn ngay!">Giá RẺ Quá - Giảm sốc đến 50%, mua càng nhiều giảm sâu đến 10%. Chốt đơn ngay!</a></li>
                        <li><a href="https://www.dienmayxanh.com/khuyen-mai/giam-100k-khi-thanh-toan-qua-smartpay-1526326" rel="noopener" target="_blank" title="Giảm 100K cho hoá đơn từ 10 triệu khi thanh toán online qua Smartpay tại Điện máy XANH">Giảm 100K cho hoá đơn từ 10 triệu khi thanh toán online qua Smartpay tại Điện máy XANH</a></li>
                        <li><a href="https://www.dienmayxanh.com/khuyen-mai/giam-gia-1-toi-da-100-000d-khi-thanh-toan-momo-1530103" rel="noopener" target="_blank" title="Giảm giá 1%, tối đa 100.000đ khi thanh toán qua ví Momo tại Điện máy XANH">Giảm giá 1%, tối đa 100.000đ khi thanh toán qua ví Momo tại Điện máy XANH</a></li>
                    </ul>

                </div><p></p>

                <p><em>Nhanh tay mua sắm và thanh toán qua thẻ tín dụng OCB để hưởng những ưu đãi cực hấp dẫn nhé! Mọi thắc mắc bạn vui lòng liên hệ tổng đài&nbsp;<a href="tel:1900 232 461" rel="noopener" target="_blank" title="1900 232 461 ">1900 232 461&nbsp;</a>để được hỗ trợ!</em></p>


            </div>

            <div class="wrap_relate clearfix">
                <div class="likeshare">
                    <div class="detail-fb"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.dienmayxanh.com%2Fkhuyen-mai%2Fthanh-toan-qua-the-tin-dung-ocb-giam-500k-cho-san-1532186&amp;width=150&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;" scrolling="no" style="border:none; overflow:hidden; width:150px; height:21px; float: left;" allowtransparency="true"></iframe></div>
                    <span>Chia sẻ cho bạn bè</span>
                </div>

            </div>
        </article>
        <aside class="articlerelate col-4">
            <div style="position: static;overflow: auto; width: auto; height: auto; display: block; float: left;">
                <div class="stickmenow is_stuck" style="position: absolute; top:0px; width: auto; bottom: 0px;">
                    <div class="centerboxrl" style="position:sticky; top:0px;">
                        <h4 style="padding-left: 35px; padding-top: 20px;padding-bottom:10px; font-size: 18px;">Các tin khuyến mãi khác</h4>
                        <ul class="contentrelate" style="">

                            <li style="padding-top:15px; border-top: 1px solid #f4f4f4">
                                <a href="/khuyen-mai/sieu-hot-san-ngay-coupon-giam-5-toi-da-300k-cho-1566547" title="Siêu HOT: Săn ngay coupon giảm 5% tối đa 300K cho khách hàng chưa mua hàng trong 12 tháng tại website Điện máy XANH">
                                    <i class="i_img">
                                        <img width="120" height="60" alt="Siêu HOT: Săn ngay coupon giảm 5% tối đa 300K cho khách hàng chưa mua hàng trong 12 tháng tại website Điện máy XANH" class="lazy" data-original="https://cdn.tgdd.vn/News/Thumb/1566547/Thumb-DMX-1200x628-1200x628.jpg" src="https://cdn.tgdd.vn/News/Thumb/1566547/Thumb-DMX-1200x628-1200x628.jpg" style="display: block; opacity: 1;">
                                    </i>
                                    <h3>Siêu HOT: Săn ngay coupon giảm 5% tối đa 300K cho khách hàng chưa mua hàng trong 12 tháng tại website Điện máy XANH</h3>

                                    <span>5 giờ trước</span>
                                </a>
                            </li>
                            <li>
                                <a href="/khuyen-mai/may-say-may-rua-chen-giam-den-15-khi-mua-kem-may-1562023" title="Máy sấy - Máy rửa chén giảm đến 15% khi mua kèm Máy giặt, Tủ lạnh, Máy lạnh">
                                    <i class="i_img">
                                        <img width="120" height="60" alt="Máy sấy - Máy rửa chén giảm đến 15% khi mua kèm Máy giặt, Tủ lạnh, Máy lạnh" class="lazy" data-original="https://cdn.tgdd.vn/News/Thumb/1562023/may-giat-electrolux--28--1200x628.jpg" src="https://cdn.tgdd.vn/News/Thumb/1562023/may-giat-electrolux--28--1200x628.jpg" style="display: block; opacity: 1;">
                                    </i>
                                    <h3>Máy sấy - Máy rửa chén giảm đến 15% khi mua kèm Máy giặt, Tủ lạnh, Máy lạnh</h3>

                                    <span>6 giờ trước</span>
                                </a>
                            </li>
                            <li>
                                <a href="/khuyen-mai/tang-goi-ung-dung-giai-tri-k-va-fpt-max-danh-cho-1540153" title="Sở hữu tivi Sony, tận hưởng giải trí bất tận miễn phí cùng FPT MAX, TV360 Super VIP, Clip TV Family">
                                    <i class="i_img">
                                        <img width="120" height="60" alt="Sở hữu tivi Sony, tận hưởng giải trí bất tận miễn phí cùng FPT MAX, TV360 Super VIP, Clip TV Family" class="lazy" data-original="https://cdn.tgdd.vn/News/Thumb/1540153/Thumb--25--1-1200x628.jpg" src="https://cdn.tgdd.vn/News/Thumb/1540153/Thumb--25--1-1200x628.jpg" style="display: block; opacity: 1;">
                                    </i>
                                    <h3>Sở hữu tivi Sony, tận hưởng giải trí bất tận miễn phí cùng FPT MAX, TV360 Super VIP, Clip TV Family</h3>

                                    <span>1 ngày trước</span>
                                </a>
                            </li>
                            <li>
                                <a href="/khuyen-mai/len-doi-trai-nghiem-voi-tivi-tcl-mua-tivi-to-co-1566558" title="Lên đời trải nghiệm với tivi TCL: Mua tivi to, cơ hội trúng ngay tivi QLED 98 inch siêu khủng">
                                    <i class="i_img">
                                        <img width="120" height="60" alt="Lên đời trải nghiệm với tivi TCL: Mua tivi to, cơ hội trúng ngay tivi QLED 98 inch siêu khủng" class="lazy" data-original="https://cdn.tgdd.vn/News/Thumb/1566558/Thumb--37--1200x628.jpg" src="https://cdn.tgdd.vn/News/Thumb/1566558/Thumb--37--1200x628.jpg" style="display: block; opacity: 1;">
                                    </i>
                                    <h3>Lên đời trải nghiệm với tivi TCL: Mua tivi to, cơ hội trúng ngay tivi QLED 98 inch siêu khủng</h3>

                                    <span>1 ngày trước</span>
                                </a>
                            </li>
                            <li>
                                <a href="/khuyen-mai/le-hoi-gia-re-qua-1553715" title="Ngày hội Công Nhân &amp; Dân Văn Phòng - Duy nhất 8/6 - Trúng Điện thoại Xiaomi Redmi Note 13 5.99 triệu, mua ly &quot;kim cương&quot; chỉ 20K">
                                    <i class="i_img">
                                        <img width="120" height="60" alt="Ngày hội Công Nhân &amp; Dân Văn Phòng - Duy nhất 8/6 - Trúng Điện thoại Xiaomi Redmi Note 13 5.99 triệu, mua ly &quot;kim cương&quot; chỉ 20K" class="lazy" data-original="https://cdn.tgdd.vn/News/Thumb/1553715/1200X628--2--1200x628.jpg" src="https://cdn.tgdd.vn/News/Thumb/1553715/1200X628--2--1200x628.jpg" style="display: block; opacity: 1;">
                                    </i>
                                    <h3>Ngày hội Công Nhân &amp; Dân Văn Phòng - Duy nhất 8/6 - Trúng Điện thoại Xiaomi Redmi Note 13 5.99 triệu, mua ly "kim cương" chỉ 20K</h3>

                                    <span>2 ngày trước</span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </aside>
    </div>


</body>
</html>


