@using DATN.Core.ViewModel.BrandVM

@model DATN.Core.ViewModel.BrandVM.BrandCreatVM

@{
	ViewData["Title"] = "Create";
}

<div class="container-fluid px-4">
	<h1 class="mt-4">Thêm mới </h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="brand" asp-action="Index">Brand</a></li>
		<li class="breadcrumb-item active">Thêm mới</li>
	</ol>
	<div class="row">
		<div class="col-md-8">
			<form id="" asp-action="Creat" asp-controller="brand" method="post" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Name" class="control-label">Tên brand</label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			
			
			
				<div class="form-group">
					<label for="file" class="control-label">Ảnh brand</label>
					<input id="file" name="Img" type="file" class="form-control" accept="image/*">
				</div>
				<div class="form-group">
					<input type="submit" id="target-btn" value="Tạo mới" class="btn btn-success m-4" />
					<a asp-action="Index" asp-controller="brand" class="btn btn-secondary m-4">Trở lại</a>
				</div> 
			</form>
		</div>
	</div>
</div>
<script>
	const targetBtn = document.getElementById('target-btn');

	function disableButton() {
		targetBtn.disabled = true;
		$("#category-form").submit();
	}
</script>

  
