table.dataTable thead th[b-0sx9wgbzlz], table.dataTable thead td[b-0sx9wgbzlz] {
    padding: 0 !important;
}
table.dataTable thead th[b-0sx9wgbzlz] {
    font-size: 14px;
}
table.dataTable[b-0sx9wgbzlz] {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-spacing: 0
}
.up-arrow[b-0sx9wgbzlz] {
    cursor: pointer;
}
.down-arrow[b-0sx9wgbzlz] {
    cursor: pointer;
}