<div class="carousel_1 mt-1 d-flex justify-content-center align-items-center">

    <div style="margin:0!important;" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="text-align:-webkit-center">
                <div class="row w-100">
                    <div class="col p-1">
                        <img style="border-radius:8px !important" src="https://cdn.tgdd.vn/2024/03/campaign/720-220-720x220-9.png" class="d-block w-100 slide-img-custom" alt="...">
                    </div>
                    <div class="col p-1">
                        <img style="border-radius:8px !important" src="https://cdn.tgdd.vn/2024/06/campaign/720x220-720x220-1.png" class="d-block w-100 slide-img-custom" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="text-align:-webkit-center">
                <div class="row w-100">
                    <div class="col p-1">
                        <!-- Mục 3 -->
                        <img style="border-radius:8px !important" src="https://cdn.tgdd.vn/2024/06/campaign/Banner-Sharp--Compressify.io--720x220-1.png" class="d-block w-100 slide-img-custom" alt="...">
                    </div>
                    <div class="col p-1">
                        <!-- Mục 4 -->
                        <img style="border-radius:8px !important" src="https://cdn.tgdd.vn/2024/04/campaign/720-220-720x220-1.png" class="d-block w-100 slide-img-custom" alt="...">
                    </div>
                </div>
            </div>
            <!-- Thêm các item carousel khác nếu cần -->
        </div>
        <button class="carousel-control-prev carousel-second" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-second" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>