html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.product-detail {
    background-color: #ff5700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    margin-top: 16px;
    border-radius: 10px;
    color: #fff;
    transition:transform linear 0.2s
}
.product-detail:hover{
    transform:translateY(-4px);
    cursor:pointer
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none
}

.nav-menu-child-2-box p {
    font-size: 14px;
    margin: 8px 0;
    padding: 0;
    color: #333
}

    .nav-menu-child-2-box p:hover {
        color: #2f80ed
    }

.nav-menu-child-2-box i {
    font-size: 10px
}
.nav-menu-child-2{
    align-items:normal!important
}

.footer {
    clear: both;
    border-top: 1px solid #e2e2e2;
    background: #fff;
    position: relative;
}

.f-listmenu li a {
    color: #333;
    line-height: 21px;
    text-decoration: none;
}

.f-listmenu li {
    margin-bottom: 10px;
}

.f-listtel__content {
    line-height: 21px;
    margin-top: 10px;
}

.f-listmenu {
    padding: 0px;
}

.f-social {
    margin-bottom: 20px;
}

    .f-social a i {
        margin-right: 5px;
    }

    .f-social a {
        text-decoration: none;
    }

.f-listtel__content a {
    text-decoration: none;
}

.icon-facebook {
    background-position: -225px 0;
    height: 18px;
    width: 18px;
}

.icon-youtube {
    background-position: -200px 0;
    height: 18px;
    width: 18px;
}

[class^="icon-"], [class*="icon-"] {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/icon_common.22122021@2x.webp);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 280px;
}

.imgzalo img {
    max-width: 18px;
    margin-top: -5px;
    vertical-align: middle;
}

.f-certify {
    margin-bottom: 20px;
}

.icon-congthuong {
    background-position: -200px -30px;
    height: 24px;
    width: 79px;
}

.icon-khieunai {
    background-position: -250px 0;
    height: 25px;
    width: 25px;
}

.icon-protected {
    background-position: -80px -60px;
    height: 24px;
    width: 122px;
}

.f-certify a._ncsc img {
    width: 85px;
}

.footer__logo-hd {
    color: #222;
    font-size: 14px;
    line-height: 21px;
}

.footer__logo-list {
    font-size: 0;
    margin-top: 15px;
}

[class^="iconlogo-"].visible, [class*="iconlogo-"].visible {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
}

.iconlogo-thegioididong {
    background-position: 0 0;
}

[class^="iconlogo-"], [class*="iconlogo-"] {
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 80px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 250px 200px;
}

.iconlogo-topzone {
    background-position: 0 -58px;
}

.iconlogo-bachhoaxanh {
    background-position: -170px 0;
}

.iconlogo-ankhang {
    background-position: -85px -90px;
}

.iconlogo-kids {
    background-position: -85px -120px;
}

.iconlogo-vieclam {
    background-position: 0 -120px;
}

.copyright {
    background-color: #f1f1f1;
    padding: 15px 0;
}

    .copyright section {
        margin: auto;
        max-width: 1200px;
        float: left;
    }

section {
    width: 100%;
    margin: auto;
}

body, input, button, option, textarea, label, select, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px / 18px Arial, Helvetica, sans-serif;
    color: #333;
    outline: 0;
}

.footer__logo-list li {
    float: left;
    width: 80px;
    margin: 0 8px 8px 0;
}

.footer__logo-list {
    padding-left: 0px;
}

.f-certify a {
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.f-social a {
    color: #2f80ed;
    margin-right: 10px;
}

ul, ol {
    list-style: none;
}

.copyright p {
    color: #666;
    font-size: 12px;
}
.hidden {
    display: none;
}

ul#more-options {
    list-style-type: none;
    padding-left: 0;
}
ul#more-options li {
        margin: 5px 0;
}


