@{
	ViewData["Title"] = "Chuyên trang";
}
<div class="container" style="position:relative;margin-bottom:150px">
	<div >
		<img style="width:100%" src="~/Images/Home/banner-brand-ss.jpg" />

	</div>
	<div>
		@await Component.InvokeAsync("Brand","1")

	</div>
</div>


